/* Precisa definir em qual classe vai ser aplicado o css para depois aplicar */


/* nao funcinou desta maneira
texto-colorido{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

titulo-colorido{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}
*/


/* nao funcionou
#arrasca_1 {
    width: 100px;
    height: 100px;
}

/* nao funcionou
.img { 
    width: 200px;
    height: 200px;
}
*/

#Titulo { 
    font-style: italic;
    color: red;
}

.box { 
    width: 100px;
    height: 100px;
}

.red-box { 
    background-color: red;
}

.white-box { 
    background-color: white;
}

.lista {
    color: red;
}

body {
    background-color: black;  
}

p { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: larger;
    color: red;
}